extend layout.pug

block scripts
    script(src='/javascripts/list.js')

block content
    span(style="float:right")
        if user
            span(style="padding-right:10px;")= '인솔자 '+ user+'님'
            a(href="#", onclick="logout();return false;") 로그아웃
        else if auth != "admin"
            a(href="./login") 인솔자 로그인
    table(width="100%")
        tr
            th 번호
            th 그룹
            th 이름
            th 전화번호
            if auth == "admin"
                th 탑승구간
                th 인솔자
                th 삭제
            else if auth == "manager"
                th 탑승구간
                th 서울
                th 순천
        each item, idx in registers
            if item.auth == "manager"
                tr(class="manager")
            else
                tr
            td= idx+1
            td
                if item.group =="groom"
                    = "신랑"
                else
                    = "신부"
            td= item.name
            if auth == "admin"
                td= item.num
                case item.trip
                    when "roundtrip": td 왕복
                    when "depart": td 가는편
                    when "return": td 오는편
                    default: td
                td
                    if item.auth == "manager"
                        input(type="checkbox",data-num=item.num,onchange="checkManager(this)",checked)
                    else 
                        input(type="checkbox",data-num=item.num,onchange="checkManager(this)")
                td 
                    a(href="delete?num="+item.num) X
            else if auth == "manager"
                td= item.num
                case item.trip
                    when "roundtrip": td 왕복
                    when "depart": td 가는편
                    when "return": td 오는편
                    default: td
                td 
                    if item.checkin1 == true
                        input(type="checkbox",data-num=item.num,name="seoul",onchange="checkin(this)",checked)
                    else
                        input(type="checkbox",data-num=item.num,name="seoul",onchange="checkin(this)")
                td 
                    if item.checkin2 == true
                        input(type="checkbox",data-num=item.num,name="suncheon",onchange="checkin(this)",checked)
                    else
                        input(type="checkbox",data-num=item.num,name="suncheon",onchange="checkin(this)")
            else
                td= item.num.substring(0,item.num.length - 4)+"****"
        if auth == "manager"
            tr
                td(colspan="5")
                td.checkin1-total= c1total+"명"
                td.checkin2-total= c2total+"명"
            


